<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<h1>Liste des joueurs</h1>

<div id="main">
    <div th:each="player :${players}" class="card" style="width: 18rem;">
        <img src="https://www.pngmart.com/files/21/Account-Avatar-Profile-PNG-Photo.png" class="img5">
        <div class="card-body text-center">
            <h5 th:text="${player.getName()}" class="card-title"></h5>
            <span>Numero : </span><p th:text="${player.getNumber()}"></p>
            <span>Age : </span><p th:text=" ${player.getAge()}"></p>
            <a href="#" class="btn btn-primary">Plus d'info</a>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>